<%= simple_form_for(@flock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hens %>
    <%= f.input :males %>
    <%= f.input :hen_feed %>
    <%= f.input :male_feed %>
    <%= f.input :water_meter %>
    <%= f.input :open_date %>
    <%= f.input :close_date %>
    <%= f.input :house_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
