<%= simple_form_for([@house, @daily_report]) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :hatch_eggs %>
    <%= f.input :cull_eggs %>
  </div>

  <div class="form-group">
    <%= f.input :hen_deaths %>
    <%= f.input :male_deaths %>
    <%= f.input :hen_feed %>
    <%= f.input :male_feed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
