<%= simple_form_for(@daily_report) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hatch %>
    <%= f.input :cull %>
    <%= f.input :hen_deaths %>
    <%= f.input :male_deaths %>
    <%= f.input :hen_feed %>
    <%= f.input :male_feed %>
    <%= f.input :house_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
