<p>
  <strong>Hatch:</strong>
  <%= @daily_report.hatch_eggs %>
</p>

<p>
  <strong>Cull:</strong>
  <%= @daily_report.cull_eggs %>
</p>

<p>
  <strong>Hen deaths:</strong>
  <%= @daily_report.hen_deaths %>
</p>

<p>
  <strong>Male deaths:</strong>
  <%= @daily_report.male_deaths %>
</p>

<p>
  <strong>Hen feed:</strong>
  <%= @daily_report.hen_feed %>
</p>

<p>
  <strong>Male feed:</strong>
  <%= @daily_report.male_feed %>
</p>

<p>
  <strong>House:</strong>
  <%= @daily_report.house_id %>
</p>

<%= link_to 'Edit', edit_house_daily_report(@daily_report) %> |
<%= link_to 'Back', house_daily_reports %>
